
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.form-sec {
    margin-top: 50px;
}



.hide-monthly-drug td.hide-cel,
.hide-monthly-drug th.hide-cel {
    display: none
}